<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>數位助理</title>
</head>
<body>
    <h1>數位助理</h1>
    <div>
        <a href="{% url 'jou_list' %}">日誌列表</a>
        <a href="{% url 'jou_create' %}">寫日誌</a>
        <!-- 已登入 -->
        {% if user.is_authenticated %}
            {{ user.name }}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type = 'submit'>登出</button>   <!-- # 按鈕-->
            </form>
        {% else %}
            <a href="{% url 'login' %}">登入</a>
        {% endif %}
    </div>
    <div>{% block content %}{% endblock  %}</div>
</body>
</html>